In [0]:
import pandas as pd#판다스
import requests as re#리퀘스트
from bs4 import BeautifulSoup as bs#뷰티플 소프

from google.colab import drive

In [415]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
titles = ["로봇_원시데이터_281.xlsx", "빅데이터_원시데이터_47.xlsx", "인공지능_원시데이터_28.xlsx", "원시데이터_345.xlsx"]

url = "/content/drive/My Drive/19_Fall/system/실제_데이터/worknet_wanted_detail_final_"
robot = pd.read_excel(url+titles[0], encoding = 'utf-8')
big_data = pd.read_excel(url+titles[1], encoding = 'utf-8')
ai = pd.read_excel(url+titles[2], encoding = 'utf-8')
all_data= pd.read_excel(url+titles[3], encoding = 'utf-8')

In [0]:
#돈 문자열을 숫자열로 바꿔주기
def real_money(value):
  value = value.split(',')
  real_value = ""
  for i in value:
    real_value += i
  return int(real_value)

In [0]:
start_time = []
end_time = []
day_time = []

def set_day_time(all_data):
  for time in all_data['근무시간'] + "*" + all_data['임금조건']:
    if "연봉" in time or "월급" in time or "평균근무시간" in time:
      start_time.append(None)
      end_time.append(None)
      day_time.append(None)
    else:
      if "시 " in time and "분," in time:
        if len(time.split("(")[1].split("오전) ")) >= 2:
          if time.split("(")[1].split("오전) ")[1].split('시')[1].split('분')[0] == ' 00':
            start_time.append(float(time.split("(")[1].split("오전) ")[1].split('시')[0]))
          else:
            start_time.append(float(time.split("(")[1].split("오전) ")[1].split('시')[0]) + 0.5)
        elif len(time.split("(")[1].split("오후) ")) >= 2:
          if time.split("(")[1].split("오후) ")[1].split('시')[1].split('분')[0] == ' 00':
            start_time.append(float(time.split("(")[1].split("오후) ")[1].split('시')[0]) + 12)
          else:
            start_time.append(float(time.split("(")[1].split("오후) ")[1].split('시')[0]) + 12.5)

        if len(time.split("(")[2].split("오전) ")) >= 2:
          if time.split("(")[2].split("오전) ")[1].split('시')[1].split('분')[0] == ' 00':
            end_time.append(float(time.split("(")[2].split("오전) ")[1].split('시')[0]))
          else:
            end_time.append(float(time.split("(")[2].split("오전) ")[1].split('시')[0]) + 0.5)
        elif len(time.split("(")[2].split("오후) ")) >= 2:
          if time.split("(")[2].split("오후) ")[1].split('시')[1].split('분')[0] == ' 00':
            end_time.append(float(time.split("(")[2].split("오후) ")[1].split('시')[0]) + 12)
          else:
            end_time.append(float(time.split("(")[2].split("오후) ")[1].split('시')[0]) + 12.5) 
        elif len(time.split("(")[2].split("정오) ")) >= 2:
          if time.split("(")[2].split("정오) ")[1].split('시')[1].split('분')[0] == ' 00':
            end_time.append(float(time.split("(")[2].split("정오) ")[1].split('시')[0]) + 12 if time.split("(")[2].split("정오) ")[1].split('시')[0] != '12' else 12)
          else:
            end_time.append(float(time.split("(")[2].split("정오) ")[1].split('시')[0]) + 12.5)
        elif len(time.split("(")[2].split("오후)")) >= 2:
          if time.split("(")[2].split("오후)")[1].split('시')[1].split('분')[0] == ' 00':
            end_time.append(float(time.split("(")[2].split("오후)")[1].split('시')[0]) + 12 if time.split("(")[2].split("오후)")[1].split('시')[0] != '12' else 12)
          else:
            end_time.append(float(time.split("(")[2].split("오후)")[1].split('시')[0]) + 12.5)

        
        data = start_time[len(end_time) - 1] - end_time[len(end_time) - 1]
        if data > 0:
          day_time.append(data)
        else:
          day_time.append(-data)

In [0]:
#하루 일 시작 시간, 하루 일 끝나는 시간, 하루 동안 일하는 시간, 한주에 일하는 시간, 주당 일하는 시간

week_time = [] #주당 일하는 시간
week_day = [] #주당 일하는 날수
def set_time(all_data):
  count = 0
  for data in all_data['근무시간']:
    if len(data.split(", 주 ")) == 2:
      week_day.append(data.split(", 주 ")[1].split('일')[0])
    else:
      week_day.append(None)

    if data.split(" ").count('평균근무시간') == 1:
      week_time.append(data.split("평균근무시간 : ")[1])
    else:
      #week_time.append(None)
      if day_time[count] != None and week_day[count] != None:
        week_time.append(float(day_time[count]) * float(week_day[count]))
    count+=1

In [0]:
# 최저 연봉
data_low = []
def set_data_low(all_data):
  count = 0

  for data in all_data['임금조건']:
    #최저 연봉
    if data[0] == '연':
      value = data.split('연봉')[1].split('원 이상')[0]
      value = int(real_money(value))
    elif data[0] == '월':
      value = data.split('월급')[1].split('원 이상')[0]
      value = int(real_money(value)) * 12
    elif data[0] == '일':
      value = data.split('일급')[1].split('원 이상')[0]

      if week_day[count] != None:
        value = int(real_money(value)) * 4 * int(week_day[count]) * 12

    elif data[0] == '시':
      value = data.split('시급')[1].split('원 이상')[0]
      if week_time[count] != None:
        value = int(real_money(value)) * 4 * int(week_time[count]) * 12
      elif week_day[count] != None and day_time[count] != None:
        value = int(real_money(value)) * 4 * int(week_day[count]) * day_time[count] * 12 # 하루 근무 시간 삽입 8


    count+=1
    data_low.append(value)

In [0]:
#최대 연봉
data_high = []
def set_data_high(all_data):
  count = 0

  for data in all_data['임금조건']:
    #최고 연봉
    if len(data.split(" ~ ")) == 2:
      value = data.split(" ~ ")[1].split("원 이하")[0]
      if data[0] == '연':
        value = int(real_money(value))
      elif data[0] == '월':
        value = int(real_money(value)) * 12
      elif data[0] == '시':
        if week_time[count] != None:
          value = int(real_money(value)) * 4 * int(week_time[count]) * 12
        elif week_day[count] != None:
          value = int(real_money(value)) * 4 * int(week_day[count]) * day_time[count] * 12
      elif data[0] == '일':
        if week_day[count] != None:
          value = int(real_money(value)) * 4 * int(week_day[count]) * 12
        else:
          value = int(real_money(value)) * 4 * 5 * 12
      #print(str(count) + ' ' + str(value))
      data_high.append(value)
    else:
      data_high.append(data_low[count])
    count += 1

In [0]:
data_mid = []
def set_data_mid(all_data):
  for i in range(len(data_high)):
    data_mid.append(int((data_high[i]+data_low[i])/2))
    #print(str(data_low[i]) + " " + str(data_high[i]) + " " + str(data_mid[i]))

In [0]:
data_loc = []
def set_data_loc(all_data):
  for data in all_data["근무예정지"]:
    data_locs = data.split(' ')
    data_loc.append(data_locs[2] + " " + data_locs[3])
  #all_data[['근무예정지']] = data_loc

In [0]:
def set_all_data(all_data):
  set_day_time(all_data)
  set_time(all_data)
  set_data_low(all_data)
  set_data_high(all_data)
  set_data_mid(all_data)
  set_data_loc(all_data)

In [0]:
def set_print_all_data(robot):
  set_all_data(robot)
  make_data = {}
  make_data['start_time'] = start_time
  make_data['end_time'] = end_time
  make_data['day_time'] = day_time
  make_data['week_time'] = week_time
  make_data['week_day'] = week_day
  make_data['data_low'] = data_low
  make_data['data_high'] = data_high
  make_data['data_mid'] = data_mid
  make_data['data_loc'] = data_loc
  my_df = pd.DataFrame(make_data)
  return my_df

In [0]:
start_time = []
end_time = []
day_time = []
week_time = []
week_day = []
data_low = []
data_high = []
data_mid = []
data_loc = []
ai_make_data = set_print_all_data(ai)
start_time = []
end_time = []
day_time = []
week_time = []
week_day = []
data_low = []
data_high = []
data_mid = []
data_loc = []
all_data_make_data = set_print_all_data(all_data)
start_time = []
end_time = []
day_time = []
week_time = []
week_day = []
data_low = []
data_high = []
data_mid = []
data_loc = []
big_data_make_data = set_print_all_data(big_data)
start_time = []
end_time = []
day_time = []
week_time = []
week_day = []
data_low = []
data_high = []
data_mid = []
data_loc = []
robot_make_data = set_print_all_data(robot)

In [428]:
#robot, ai, big_data, all_data, robot_make_data, ai_make_data, big_data_make_data, all_data_make_data
print(robot_make_data)

     start_time  end_time  day_time  ... data_high  data_mid     data_loc
0           NaN       NaN       NaN  ...  24000000  23000000    서울특별시 성동구
1           NaN       NaN       NaN  ...  32000000  32000000    서울특별시 강서구
2           NaN       NaN       NaN  ...  32000000  32000000    서울특별시 강서구
3           NaN       NaN       NaN  ...  36000000  33000000    서울특별시 성북구
4           NaN       NaN       NaN  ...  21600000  21600000    서울특별시 성북구
5           NaN       NaN       NaN  ...  20941800  20941800    서울특별시 금천구
6           NaN       NaN       NaN  ...  40000000  40000000    부산광역시 사하구
7           NaN       NaN       NaN  ...  30000000  27000000    부산광역시 사하구
8           NaN       NaN       NaN  ...  30000000  27000000   부산광역시 해운대구
9           NaN       NaN       NaN  ...  55000000  45000000    부산광역시 강서구
10          NaN       NaN       NaN  ...  55000000  40500000    부산광역시 강서구
11          NaN       NaN       NaN  ...  24000000  24000000    부산광역시 강서구
12          NaN       NaN       NaN  ...  32000000  29000000    부산광역시 강서구
13          NaN       NaN       NaN  ...  30000000  30000000    부산광역시 강서구
14          NaN       NaN       NaN  ...  30000000  28800000    부산광역시 사상구
15          NaN       NaN       NaN  ...  32400000  32400000    부산광역시 강서구
16          NaN       NaN       NaN  ...  35000000  35000000    부산광역시 사상구
17          NaN       NaN       NaN  ...  35000000  35000000    부산광역시 사상구
18          NaN       NaN       NaN  ...  36000000  36000000    부산광역시 강서구
19          NaN       NaN       NaN  ...  48000000  37200000     경상남도 창원시
20          NaN       NaN       NaN  ...  28700000  27100000     경상남도 창원시
21          NaN       NaN       NaN  ...  33600000  33600000     경상남도 창원시
22          NaN       NaN       NaN  ...  43000000  37500000     경상남도 창원시
23          NaN       NaN       NaN  ...  43000000  37500000     경상남도 함안군
24          NaN       NaN       NaN  ...  40000000  40000000     경상남도 창원시
25          NaN       NaN       NaN  ...  30000000  30000000     경상남도 창원시
26          NaN       NaN       NaN  ...  40000000  40000000     경상남도 창원시
27          NaN       NaN       NaN  ...  24170000  24170000     경상남도 창원시
28          NaN       NaN       NaN  ...  29400000  29400000     경상남도 창원시
29          NaN       NaN       NaN  ...  60000000  52500000    부산광역시 강서구
..          ...       ...       ...  ...       ...       ...          ...
251         NaN       NaN       NaN  ...  21600000  21600000  제주특별자치도 제주시
252         NaN       NaN       NaN  ...  21600000  21600000  제주특별자치도 제주시
253        14.0      18.0       4.0  ...  46080000  40320000      경기도 시흥시
254         NaN       NaN       NaN  ...  24000000  24000000     경상남도 창원시
255         NaN       NaN       NaN  ...  48000000  48000000     경상남도 창원시
256         NaN       NaN       NaN  ...  45000000  45000000     경상북도 구미시
257         NaN       NaN       NaN  ...  25200000  23070900    서울특별시 양천구
258         NaN       NaN       NaN  ...  23400000  22800000   서울특별시 영등포구
259         NaN       NaN       NaN  ...  18000000  15312600    서울특별시 서초구
260        15.0      18.0       3.0  ...   5184000   4752000    서울특별시 광진구
261         8.0      17.0       9.0  ...  18144000  18144000     울산광역시 동구
262         8.0      17.0       9.0  ...  18036000  18036000     울산광역시 동구
263         NaN       NaN       NaN  ...  24000000  24000000     충청북도 청주시
264         NaN       NaN       NaN  ...  36000000  30000000    대전광역시 유성구
265         NaN       NaN       NaN  ...  13800000  10860000     부산광역시 서구
266         NaN       NaN       NaN  ...  36000000  33000000    인천광역시 남동구
267         8.0      17.0       9.0  ...  18036000  18036000      경기도 평택시
268         NaN       NaN       NaN  ...  30000000  28800000      경기도 평택시
269         NaN       NaN       NaN  ...  30000000  30000000      경기도 화성시
270         NaN       NaN       NaN  ...  36000000  28470900     경기도 남양주시
271         NaN       NaN       NaN  ...  24000000  24000000      경기도 안산시
272         NaN       NaN       NaN  ...  30000000  30000000     경기도 의정부시
273         NaN       NaN       NaN  ...  28000000  27000000     충청북도 청주시
274         NaN       NaN       NaN  ...  27000000  27000000     충청남도 당진시
275         NaN       NaN       NaN  ...  33000000  33000000     충청남도 당진시
276         NaN       NaN       NaN  ...  44080000  44080000     충청남도 당진시
277         NaN       NaN       NaN  ...  27600000  26400000     전라북도 전주시
278         NaN       NaN       NaN  ...  70000000  47000000     전라북도 익산시
279         NaN       NaN       NaN  ...  33000000  29500000     경상북도 김천시
280         NaN       NaN       NaN  ...  45000000  34585000     경상남도 창원시

[281 rows x 9 columns]

In [0]:
make_data = {}
make_data['로봇최저연봉'] = robot_make_data['data_low']
make_data['로봇평균연봉'] = robot_make_data['data_mid']
make_data['로봇최고연봉'] = robot_make_data['data_high']

make_data['빅데이터최저연봉'] = big_data_make_data['data_low']
make_data['빅데이터평균연봉'] = big_data_make_data['data_mid']
make_data['빅데이터최고연봉'] = big_data_make_data['data_high']

make_data['인공지능최저연봉'] = ai_make_data['data_low']
make_data['인공지능평균연봉'] = ai_make_data['data_mid']
make_data['인공지능최고연봉'] = ai_make_data['data_high']

my_df = pd.DataFrame(make_data)

my_df.loc["평균"] = my_df.mean()

url = "/content/drive/My Drive/19_Fall/system/실제_데이터/"
my_df.to_excel(url + "분야별 각각의 임금(최저 평균 최고) + 최하단 평균값 기재" + ".xlsx")

In [0]:
make_data = {}
make_data['로봇 공고수'] = [len(robot)]
make_data['빅데이터 공고수'] = [len(big_data)]
make_data['인공지능 공고수'] = [len(ai)]

my_df = pd.DataFrame(make_data)

url = "/content/drive/My Drive/19_Fall/system/실제_데이터/"
my_df.to_excel(url + "분야별 공고수" + ".xlsx")

In [431]:
make_data = {}
make_data['로봇 근무예정지'] = robot_make_data['data_loc']
make_data['빅데이터 근무예정지'] = big_data_make_data['data_loc']
make_data['인공지능 근무예정지'] = ai_make_data['data_loc']

my_df = pd.DataFrame(make_data)

make_data = {}
make_data['근무예정지'] = my_df.groupby("로봇 근무예정지").size().index
make_data['로봇 수'] = my_df.groupby("로봇 근무예정지").size().values
data = pd.DataFrame(make_data)

make_data = {}
make_data['근무예정지'] = my_df.groupby("빅데이터 근무예정지").size().index
make_data['빅데이터 수'] = my_df.groupby("빅데이터 근무예정지").size().values
data2 = pd.DataFrame(make_data)

data = pd.merge(data, data2, on = '근무예정지', how = "outer")

make_data = {}
make_data['근무예정지'] = my_df.groupby("인공지능 근무예정지").size().index
make_data['인공지능 수'] = my_df.groupby("인공지능 근무예정지").size().values
data2 = pd.DataFrame(make_data)

data = pd.merge(data, data2, on = '근무예정지', how = "outer")

print(data)
#print(pd.merge(my_df.groupby('로봇 근무예정지').size(), my_df.groupby('빅데이터 근무예정지').size(), \
#              my_df.groupby('인공지능 근무예정지').size()))

url = "/content/drive/My Drive/19_Fall/system/실제_데이터/"
my_df.to_excel(url + "분야별 근무예정지" + ".xlsx")
data.to_excel(url + "분야별 근무예정지 인원수.xlsx")

          근무예정지  로봇 수  빅데이터 수  인공지능 수
0       강원도 강릉시   1.0     NaN     NaN
1       강원도 동해시   1.0     NaN     NaN
2       경기도 고양시   1.0     NaN     NaN
3       경기도 군포시   2.0     NaN     NaN
4       경기도 김포시   1.0     NaN     NaN
5      경기도 남양주시   4.0     NaN     NaN
6       경기도 부천시   4.0     NaN     NaN
7       경기도 성남시   3.0     1.0     7.0
8       경기도 수원시   5.0     1.0     NaN
9       경기도 시흥시  13.0     NaN     NaN
10      경기도 안산시   4.0     NaN     2.0
11      경기도 안양시   1.0     4.0     NaN
12      경기도 오산시   1.0     NaN     NaN
13      경기도 용인시   4.0     NaN     NaN
14      경기도 의왕시   1.0     NaN     NaN
15     경기도 의정부시   1.0     NaN     NaN
16      경기도 파주시   4.0     1.0     NaN
17      경기도 평택시   8.0     NaN     NaN
18      경기도 포천시   1.0     NaN     NaN
19      경기도 하남시   1.0     NaN     NaN
20      경기도 화성시  18.0     NaN     NaN
21     경상남도 거제시   1.0     NaN     NaN
22     경상남도 김해시  11.0     NaN     NaN
23     경상남도 밀양시   1.0     NaN     NaN
24     경상남도 양산시   1.0     NaN     NaN
25     경상남도 창원시  17.0     NaN     NaN
26     경상남도 함안군   1.0     NaN     NaN
27     경상북도 경산시   1.0     NaN     NaN
28     경상북도 경주시   3.0     NaN     NaN
29     경상북도 구미시   5.0     NaN     NaN
..          ...   ...     ...     ...
68     전라남도 함평군   1.0     NaN     NaN
69     전라북도 군산시   1.0     NaN     NaN
70     전라북도 김제시   2.0     NaN     NaN
71     전라북도 완주군   1.0     NaN     NaN
72     전라북도 익산시   5.0     NaN     NaN
73     전라북도 전주시   1.0     1.0     1.0
74  제주특별자치도 제주시   2.0     1.0     NaN
75     충청남도 당진시   3.0     NaN     NaN
76     충청남도 서산시   2.0     NaN     NaN
77     충청남도 아산시   6.0     2.0     NaN
78     충청남도 천안시   9.0     NaN     NaN
79     충청북도 음성군   2.0     NaN     NaN
80     충청북도 제천시   1.0     NaN     NaN
81     충청북도 청주시   3.0     NaN     NaN
82     충청북도 충주시   1.0     NaN     NaN
83     광주광역시 서구   NaN     1.0     NaN
84     대구광역시 남구   NaN     2.0     1.0
85    대구광역시 수성구   NaN     2.0     NaN
86     대전광역시 서구   NaN     2.0     NaN
87     부산광역시 남구   NaN     1.0     3.0
88     부산광역시 동구   NaN     1.0     NaN
89     부산광역시 북구   NaN     1.0     NaN
90    서울특별시 강남구   NaN     1.0     2.0
91   서울특별시 동대문구   NaN     1.0     NaN
92    서울특별시 마포구   NaN     3.0     NaN
93    서울특별시 종로구   NaN     2.0     2.0
94     서울특별시 중구   NaN     2.0     1.0
95   인천광역시 미추홀구   NaN     1.0     NaN
96     전라남도 여수시   NaN     1.0     NaN
97    서울특별시 송파구   NaN     NaN     2.0

[98 rows x 4 columns]

In [0]:
make_data = {}
make_data['로봇 최저 학력'] = robot["최소학력코드"]
make_data['로봇 최대 학력'] = robot["최대학력코드"]

make_data['빅데이터 최저 학력'] = big_data["최소학력코드"]
make_data['빅데이터 최대 학력'] = big_data["최대학력코드"]

make_data['인공지능 최저 학력'] = ai["최소학력코드"]
make_data['인공지능 최대 학력'] = ai["최대학력코드"]

my_df = pd.DataFrame(make_data)


my_df.loc["평균"] = my_df.mean()

url = "/content/drive/My Drive/19_Fall/system/실제_데이터/"
my_df.to_excel(url + "분야별 각각의 학력(최소 최대) + 최하단 평균값 기재" + ".xlsx")

In [0]:
value = pd.concat([all_data, all_data_make_data], axis = 1)

value = value.sort_values(by = "data_mid")
value = value.reset_index()
value.drop('index', axis=1, inplace=True)
value.drop('Unnamed: 0', axis=1, inplace=True)

slice_n = 20000000
values = []
values.append(value.loc[value['data_mid'] < slice_n, :])
while slice_n != 50000000:
  slice_n += 5000000
  temp = value.loc[value['data_mid'] < slice_n, :]
  values.append(temp.loc[slice_n - 5000000 <= value['data_mid'], : ])
values.append(value.loc[slice_n <= value['data_mid'], : ])
for i in range(7):
  values[i] = values[i].reset_index()
  values[i].drop('index', axis=1, inplace=True)
#value.to_excel(url + "토탈데이터.xlsx")

In [0]:
make_data = {}
"""
make_data['2천만 미만'] = values[0]
make_data['2천만 이상 2천5백만 미만'] = values[1]
make_data['2천5백만 이상 3천만 미만'] = values[2]
make_data['3천만 이상 3천5백만 미만'] = values[3]
make_data['3천5백만 이상 4천만 미만'] = values[4]
make_data['4천만 이상 4천5백만 미만'] = values[5]
make_data['4천5백만 이상'] = values[6]
"""
for i in range(7):
  make_data[i] = values[i]['data_loc']

my_df = pd.DataFrame(make_data)

make_data = {}
make_data['근무예정지'] = my_df.groupby(0).size().index
make_data['2천만 미만'] = my_df.groupby(0).size().values
data = pd.DataFrame(make_data)


make_data = {}
make_data['근무예정지'] = my_df.groupby(1).size().index
make_data['2천만 이상 2천5백만 미만'] = my_df.groupby(1).size().values
data2 = pd.DataFrame(make_data)
data = pd.merge(data, data2, on = '근무예정지', how = "outer")

make_data = {}
make_data['근무예정지'] = my_df.groupby(2).size().index
make_data['2천5백만 이상 3천만 미만'] = my_df.groupby(2).size().values
data2 = pd.DataFrame(make_data)
data = pd.merge(data, data2, on = '근무예정지', how = "outer")

make_data = {}
make_data['근무예정지'] = my_df.groupby(3).size().index
make_data['3천만 이상 3천5백만 미만'] = my_df.groupby(3).size().values
data2 = pd.DataFrame(make_data)
data = pd.merge(data, data2, on = '근무예정지', how = "outer")

make_data = {}
make_data['근무예정지'] = my_df.groupby(4).size().index
make_data['3천5백만 이상 4천만 미만'] = my_df.groupby(4).size().values
data2 = pd.DataFrame(make_data)
data = pd.merge(data, data2, on = '근무예정지', how = "outer")

make_data = {}
make_data['근무예정지'] = my_df.groupby(5).size().index
make_data['4천만 이상 4천5백만 미만'] = my_df.groupby(5).size().values
data2 = pd.DataFrame(make_data)
data = pd.merge(data, data2, on = '근무예정지', how = "outer")

make_data = {}
make_data['근무예정지'] = my_df.groupby(6).size().index
make_data['4천5백만 이상'] = my_df.groupby(6).size().values
data2 = pd.DataFrame(make_data)
data = pd.merge(data, data2, on = '근무예정지', how = "outer")

url = "/content/drive/My Drive/19_Fall/system/실제_데이터/"
my_df.to_excel(url + "임금별 근무예정지" + ".xlsx")
data.to_excel(url + "임금별 근무예정지 인원수.xlsx")

In [0]:
make_data = {}
"""
make_data['2천만 미만'] = values[0]
make_data['2천만 이상 2천5백만 미만'] = values[1]
make_data['2천5백만 이상 3천만 미만'] = values[2]
make_data['3천만 이상 3천5백만 미만'] = values[3]
make_data['3천5백만 이상 4천만 미만'] = values[4]
make_data['4천만 이상 4천5백만 미만'] = values[5]
make_data['4천5백만 이상'] = values[6]
"""
columns = ['2천만 미만', '2천만 이상 2천5백만 미만', '2천5백만 이상 3천만 미만', '3천만 이상 3천5백만 미만'\
          ,'3천5백만 이상 4천만 미만', '4천만 이상 4천5백만 미만', '4천5백만 이상']
for i in range(7):
  make_data[columns[i] + " 최소"] = values[i]['최소학력코드']
  make_data[columns[i] + " 최대"] = values[i]['최대학력코드']

my_df = pd.DataFrame(make_data)

my_df.loc["평균"] = my_df.mean()

url = "/content/drive/My Drive/19_Fall/system/실제_데이터/"
my_df.to_excel(url + "임금별 각각의 학력(최소 최대) + 최하단 평균값 기재" + ".xlsx")

In [0]:
value = pd.concat([all_data, all_data_make_data], axis = 1)

value = value.sort_values(by = "최대학력코드")
value = value.reset_index()
value.drop('index', axis=1, inplace=True)
value.drop('Unnamed: 0', axis=1, inplace=True)

slice_n = 0
values = {}
values[slice_n] = value.loc[value['최대학력코드'] == slice_n, :]

for slice_n in range(3, 8):
  temp = value.loc[value['최대학력코드'] == slice_n, :]
  values[slice_n] = temp

values[0] = values[0].reset_index()
values[0].drop('index', axis=1, inplace=True)

for i in range(3, 8):
  values[i] = values[i].reset_index()
  values[i].drop('index', axis=1, inplace=True)